<head>
    <title>Num2Words</title></head>
<body>
<div class="flex-container">
    <div><h1>Num2Words</h1>
    </div>
    <div>
        <label for="number">Number</label>
        <input id="number" type="number" onchange=getWords() placeholder="Enter a number">
    </div>
    <div><label id="words"></label>
    </div>
</div>

</body>
<script>
    async function getWords() {
        let number = document.getElementById("number").value;
        let r = await fetch("http://localhost:5000/" + number, {mode: 'no-cors'});
        let words = await r.text();
        console.log("words", words);
        document.getElementById("words").innerHTML = words;
    }

</script>
<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
</style>