<!DOCTYPE html>
<html lang="en">
<head>
    <title>Num2Words</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='num2words.css') }}">
    <script src="{{ url_for('static', filename='num2words.js') }}"></script>
</head>
<body>
<div class="flex-container">
    <div class="flex-item">
        <h1>Num2Words</h1>
    </div>
    <div class="flex-item">
        <select id="language" name="language" onchange=getWords()>
            {% for code, language in languages|dictsort(by="value") %}
                <option {% if code == 'br' %} selected {% endif %} value="{{ code }}">{{ language }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="flex-item">
        <input id="number" type="text" inputmode="numeric" pattern="^[+-]?([0-9]+([.][0-9]*)?|[.][0-9]+)$" onchange=getWords() placeholder="Enter a number">
    </div>
    <div class="flex-item"><label id="words"></label>
    </div>
</div>
</body>
</html>